[Unit]
Description=Obsidian Headless Sync
After=network-online.target
Wants=network-online.target
OnFailure=obsidian-notify.service
StartLimitIntervalSec=60
StartLimitBurst=4

[Service]
Type=simple
ExecStart=/home/kevin/.nvm/versions/node/v23.10.0/bin/ob sync --continuous --path /home/kevin/documents/obsidian
Environment="PATH=/home/kevin/.nvm/versions/node/v23.10.0/bin:/usr/local/bin:/usr/bin:/bin"
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
