#     The following line prevents Git from scanning any folders any number of
#     levels underneath the repository work tree (home folder). Unlike if we
#     used a `*` only, this allows you to scan a folder without also including
#     including its contents by listing it with a `!` (see the next section).
#     If we used a single `*`, we would have needed to list each folder to scan
#     like `!.config` `.config/*` instead of just `!.config`.
/**

!/.gitignore
!/.config/**/*
!/.scripts/**/*
!/.bash_functions
!/.bash_aliases
!/.bash_ps1
!/.bashrc
!/.zshrc
!/.zshenv
!/.zsh_functions
!/.Xresources
!/.vimrc
!/.tmux.conf
!/.vivaldi

/**/.DS_Store
