#     The following line prevents Git from scanning any folders any number of
#     levels underneath the repository work tree (home folder). Unlike if we
#     used a `*` only, this allows you to scan a folder without also including
#     including its contents by listing it with a `!` (see the next section).
#     If we used a single `*`, we would have needed to list each folder to scan
#     like `!.config` `.config/*` instead of just `!.config`.
/**

# Lets Git track gitignore
!/.gitignore


# Let Git track all parent directories.
!/.config/
!/.config/dunst/
!/.config/flameshot/
!/.config/fontconfig/
!/.config/i3/
!/.config/nvim/
!/.config/picom/
!/.config/polybar/
!/.config/rofi/
!/.config/ranger/

# Then let Git track the files in the directories.
!/.config/dunst/*
!/.config/flameshot/*
!/.config/fontconfig/*
!/.config/i3/*
!/.config/nvim/*
!/.config/picom/*
!/.config/polybar/*
!/.config/rofi/*
!/.config/ranger/*
!/.scripts/*
!/.bashrc
!/.Xresources
!/.vimrc
!/.xinitrc
!/.spacemacs
