## UXTerm Settings
UXTerm*allowBoldFonts: false
UXTerm*termName: xterm-256color
XTerm.termName: xterm-256color
! Colour Codes
! 0,8  => Black
! 1,9  => Red
! 2,10 => Green
! 3,11 => Yellow
! 4,12 => Blue
! 5,13 => Magenta
! 6,14 => Cyan
! 7,15 => White
 
! base00 - Default Background
! base01 - Lighter Background (Used for status bars)
! base02 - Selection Background
! base03 - Comments, Invisibles, Line Highlighting
! base04 - Dark Foreground (Used for status bars)
! base05 - Default Foreground, Caret, Delimiters, Operators
! base06 - Light Foreground (Not often used)
! base07 - Light Background (Not often used)
! base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
! base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url
! base0A - Classes, Markup Bold, Search Text Background
! base0B - Strings, Inherited Class, Markup Code, Diff Inserted
! base0C - Support, Regular Expressions, Escape Characters, Markup Quotes
! base0D - Functions, Methods, Attribute IDs, Headings
! base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed
! base0F - Deprecated, Opening/Closing Embedded Language Tags e.g. <?php ?>

! MOLOKAI
! *foreground:   #f8f8f8
! *background:   #1b1d1e
! *color0:       #808080
! *color8:       #465457
! *color1:       #d7005f
! *color9:       #f92672
! *color2:       #87ff00
! *color10:      #a6e22e
! *color3:       #ff8700
! *color11:      #fd971f
! *color4:       #0087ff
! *color12:      #0087d7
! *color5:       #af5fff
! *color13:      #ae81ff
! *color6:       #5fd7ff
! *color14:      #84e0f2
! *color7:       #f8f8f8
! *color15:      #ffffff

! Base16 Tomorrow Night
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #060C17
#define base01 #3B4B85
#define base02 #635A94
#define base03 #9571A6
#define base04 #E85C83
#define base05 #7D80A5
#define base06 #A887B7
#define base07 #cfc0da
#define base08 #908698
#define base09 #3B4B85
#define base0A #635A94
#define base0B #9571A6
#define base0C #E85C83
#define base0D #7D80A5
#define base0E #A887B7
#define base0F #cfc0da

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06

!! URxvt Appearance
URxvt.font: xft:Source Code Pro for Powerline:style=Regular:size=13
URxvt.boldFont: xft:Source Code Pro for Powerline:style=Bold:size=13
URxvt.italicFont: xft:Source Code Pro for Powerline:style=Italic:size=13
URxvt.boldItalicFont: xft:Source Code Pro for Powerline:style=Bold Italic:size=13
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 6
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 32
URxvt.transparent: false
URxvt.shading: 10
URxvt.tintColor: white
URxvt.background: rgba:0000/0000/0200/c800

## Urxvt extensions
URxvt.perl-ext-common: default,clipboard,resize-font

## Urxvt Copy/Paste
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False

## Zoom In/Out (Disabling Ctrl+Shift binding)
URxvt.iso14755_52: False

## Rofi Theming
rofi.font: Monospace, Regular, 16
rofi.color-enabled: true
